<%- include('../partials/header'); %>

<section id="sections">
    <h2>Enter a New Hike</h2>
    <form action="/hikes" method="POST">
        <label>Name:
          <input type="text" name="name">
        </label><br>
        <label>Address(City, State):
          <input type="text" name="address">
        </label><br>
        <label>Description:
            <textarea name="description"></textarea>
        </label><br>
        <label>Leash:
          <input type="checkbox" name="leash" checked>
        </label><br>
        <input type="submit" value="Add Hike">
    </form>
    <a href="/hikes">Back to Hikes</a>
</section>
    
<%- include('../partials/footer'); %>