<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>UpDog</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/users/home" class="nav-item nav-link active">Home</a>
                <a href="/users/about" class="nav-item nav-link">What's UpDog?</a>
                <a href="/users/profile" class="nav-item nav-link">Profile</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Locations</a>
                    <div class="dropdown-menu">
                        <a href="/parks" class="dropdown-item">Parks</a>
                        <a href="/hikes" class="dropdown-item">Hikes</a>
                        <a href="/foods" class="dropdown-item">Food & Drinks</a>
                        <a href="/health" class="dropdown-item">Health & Wellness</a>
                    </div>
                </div>
            </div>
            <form class="form-inline ml-auto">
                <input type="text" class="form-control mr-sm-2" placeholder="Search by State">
                <button type="submit" class="btn btn-outline-light">Search</button>
            </form>
            <div class="logout">
                 <a href="/logout">Log Out</a>        
            </div>
        </div>
    </nav>
<main>