<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>UpDogg</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/users/home" class="nav-item nav-link active">Home</a>
                <a href="/users/about" class="nav-item nav-link">What's UpDogg?</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Locations</a>
                    <div class="dropdown-menu">
                        <a href="/parks" class="dropdown-item">Parks</a>
                        <a href="/hikes" class="dropdown-item">Hikes</a>
                        <a href="/foods" class="dropdown-item">Food & Drinks</a>
                        <a href="/health" class="dropdown-item">Health & Wellness</a>
                    </div>
                </div>
                        <div class="nav-item dropdown"">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= user.name %></a>
                            <div class="dropdown-menu">
                                <a href="/users/profile" class="dropdown-item">Profile</a>
                                <a href="/logout" class="dropdown-item">Log Out</a>
                            </div>
                        </div>
                    </div>
                    <div> <h4>Welcome to UpDogg!</h4></div>
            <div class="logout">
                <div><img src="https://www.freelogodesign.org/file/app/client/thumb/3be17188-af7b-4bed-a9b2-d507fe9783d6_200x200.png?1583451129942" alt="Dog" id="logo"></div>
                
            </div>
        </div>
    </nav>
<main>