<%- include('../partials/header'); %>

<section id="sections">
    <h2>Enter a New Location</h2>
    <form action="/health" method="POST">
        <label>Name:
          <input type="text" name="name">
        </label><br>
        <label>Address(City, State):
          <input type="text" name="address">
        </label><br>
        <label>Type of Location
          <select name="type">
            <option value="store">Store</option>
            <option value="vet">Vet</option>
            <option value="grooming">Grooming</option>
          </select>
        </label><br>
        <label>Description:
            <textarea name="description"></textarea>
        </label><br>

        <input type="submit" value="Add Location">
    </form>
    <a href="/health">Back to Locations</a>
</section>
    
<%- include('../partials/footer'); %>