<%- include('../partials/header') %>
<section id="sections">
    <div id="about">
        <div id="aboutText">
       <h1>About UpDogg</h1> 
       <p>UpDogg was created to allow everyone to share their favorite dog-friendly spots, <br>as well as see where the best spots
          are in your community that your dogs are allowed! <br>
          This is a community app that allows anyone to join and add their <br>
          favorite spots they know of, as well as comment and leave reviews on any location! <br>
    </p>
    </div>
    <img src="https://www.freelogodesign.org/file/app/client/thumb/3be17188-af7b-4bed-a9b2-d507fe9783d6_200x200.png?1583451129942" alt="dog">
    </div>
</section>
<%- include('../partials/footer') %>