<%- include('../partials/header') %>
<section id="sections">
    <div id="about">
       <h1>About UpDog</h1> 
       <p>UpDog was created to allow everyone to know where the best spots <br>
          are in their location that their furry friends are allowed! <br>
          This is a community app that allows anyone to join and send in their <br>
          favorite spots they know of, as well as comment and leave reviews on any location <br>
          so you know that the place has been visited and is a great spot for what you are looking for!
    </p>
    </div>
</section>
<%- include('../partials/footer') %>