<%- include('../partials/header') %>
<section id="foodSec">
    <ul>
        <li>Restaurant1</li>
        <li>Restaurant2</li>
        <li>Brewery1</li>
        <li>Brewery2</li>
    </ul>
</section>
<%- include('../partials/footer') %>