<%- include('../partials/header') %>
<section id="healthSec">
    <ul>
        <li>Vet1</li>
        <li>Vet2</li>
        <li>Store1</li>
        <li>Store2</li>
    </ul>
</section>
<%- include('../partials/footer') %>