<%- include('../partials/header') %>
<section id="hikeSec">
    <ul>
        <li>trail1</li>
        <li>trail2</li>
        <li>offleashtrail1</li>
        <li>offleashtrail2</li>
    </ul>
</section>
<%- include('../partials/footer') %>