<%- include('../partials/header') %>
<section class="body">
    <a href="/users/parks"><div class="tl">Parks</div></a>
    <a href="/users/hikes"><div class="tr">Hikes</div></a>
    <div class="message">Where are you wanting to take your dog?</div>
    <a href="/users/foods"><div class="bl">Food &<br>Drinks</div></a>
    <a href="/users/health"><div class="br">Health &<br>Wellness</div></a>
</section>
<%- include('../partials/footer') %>