<%- include('../partials/header') %>
<section class="body">
    <a href="/parks"><div class="tl">Parks</div></a>
    <a href="/hikes"><div class="tr">Hikes</div></a>
    <div class="message">Hello <%= user.name %>! Where are you wanting to take your dog today?</div>
    <a href="/foods"><div class="bl">Food &<br>Drinks</div></a>
    <a href="/health"><div class="br">Health &<br>Wellness</div></a>
</section>
<%- include('../partials/footer') %>