<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="stylesheets/index.css">
<link href="https://fonts.googleapis.com/css?family=Simonetta|Trade+Winds&display=swap" rel="stylesheet">
</head>
<body>   
    <h1>Welcome To UpDogg!</h1> 
    <img src="https://www.freelogodesign.org/file/app/client/thumb/3be17188-af7b-4bed-a9b2-d507fe9783d6_200x200.png?1583451129942" alt="Logo" id="logo">
    <h3>What's UpDogg?</h3>
    <p>Well, aside from an amazing joke, this is the dog-owners life saver!<br>
    <br>Look up any Dog-Friendly places in your area, share hidden places <br> and fun dog-spots that you know of, and connect with other dog<br> owners around the world!<br>
    <br>    <a href="/auth/google">Login</a> to begin your search for your Pup's next favorite spot!</p>
</body>
</html>