<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="stylesheets/index.css">
<link href="https://fonts.googleapis.com/css?family=Simonetta|Trade+Winds&display=swap" rel="stylesheet">
</head>
<body>    
    <a href="/auth/google">Log In</a>
    <h1>Welcome To UpDog!</h1>
    <h3>What's UpDog?</h3>
    <p>Well, aside from an amazing joke, this is the dog-owners life saver!</p>
    <p>Look up any Dog-Friendly places in your area, share hidden places <br> and fun dog-spots that you know of, and connect with other dog<br> owners around the world!</p>
    <p>Log In to begin your search for your Pup's next favorite spot!</p>
</body>
</html>