<%- include('../partials/header'); %>

<section id="sections">
   <h2>Enter a New Dog-Friendly Location</h2>
    <form action="/" method="POST">
        <label>What Type of Location is it?
            <select name="place">
                <option value="Park">Park</option>
                <option value="Hike">Hike</option>
                <option value="Food">Food & Drinks</option>
                <option value="Health">Health & Wellness</option>
            </select>
            
        </label><br>
        <label>Location: (Please Include City and State)
            <input type="text" name="location">
        </label><br>
        <input type="submit" value="Add Location">
    </form>
    <a href="/users/home">Back to Home Page</a>
</section>
    
<%- include('../partials/footer'); %>