<%- include('../partials/header') %>
<section id="sections">
    <h1 class="location-header A">Here is the current list of UpDog Dog Parks</h1>
    <h3 class="location-header">Don't forget, UpDog is a Community App! <br> Know of a place that is not on here?<br><a href="/users/new">ADD YOUR LOCATION HERE</a></h3>
    <div class="row">
        <div id="students" class="col s12">
            <div class="card blue-grey">
              <div class="card-content white-text">
                <div>
                  <span class="card-title">
                    <span class="student-name">User Name</span>
                  </span>
                </div>
                <ul class="collection">
                    <li class="info">Info</li>
                </ul>
              </div>
            </div>
        </div>
    </div>  
</section>
<%- include('../partials/footer') %>