<%- include('../partials/header') %>
<section id="parkSec">
    <ul>
        <li>park1</li>
        <li>park2</li>
        <li>offleashpark1</li>
        <li>offleashpark2</li>
    </ul>
</section>
<%- include('../partials/footer') %>