<%- include('../partials/header'); %>

<section id="sections">
  <section id="centerSection">
    <h2>Enter a New Park</h2>
    <form action="/parks" method="POST">
      <label>Name:
        <input type="text" name="name">
      </label><br>
      <label>Address(City, State):
        <input type="text" name="address">
      </label><br>
      <label>Description:
        <textarea name="description"></textarea>
      </label><br>
      <label>Leash:
        <select name="leash">
          <option value="On-Leash">On-Leash</option>
          <option value="Off-Leash">Off-Leash</option>
        </select>
      </label><br>
      <label>Attach Website URL:
        <input type="text" name="site">
      </label>
      <input type="submit" value="Add Park">
    </form>
    <a href="/parks">Back to Parks</a>
  </section>
</section>
    
<%- include('../partials/footer'); %>